@use '../variables' as *;

.header {
    $root: &;

    position: sticky;
    top: 0;
    z-index: 10;

    background-color: $color0;
    box-shadow: $boxShadow1;

    line-height: 1;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    
        box-sizing: border-box;
        height: 7.2rem;
        width: 100%;
        padding: 1rem 0;
    }

    &__logo {
        flex-grow: 1;

        #{$root}__title {
            color: $color3;
    
            font-size: 2.4rem;
            font-weight: bold;
            text-decoration: none;
            line-height: 1;
        }
    }
}