@use '../defaults' as *;
@use '../mixins' as *;
@use '../variables' as *;

.icon {
    display: $default-icon-display;
    vertical-align: $default-icon-vertical-align;

    position: relative;

    @include icon-dimensions($default-icon-dimensions);

    transition: $default-icon-transition;

    svg {
        position: absolute;
        top: 0;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        fill: $default-icon-fill;

        transition: $default-icon-svg-transition;
    }

    &--checkbox {
        position: absolute;
        top: $default-icon-checkbox-top;
        left: $default-icon-checkbox-left;

        @include icon-dimensions($default-icon-checkbox-dimensions);

        opacity: $default-icon-checkbox-opacity;

        transition: $default-icon-checkbox-transition;

        .checkbox:hover & {
            opacity: $default-icon-checkbox-hover-opacity
        }

        input[type=checkbox]:focus + & {
            opacity: $default-icon-checkbox-focus-opacity
        }

        input[type=checkbox]:checked + & {
            opacity: $default-icon-checkbox-selected-opacity;

            svg {
                fill: $default-icon-checkbox-selected-fill;
            }
        }
    }

    &--video {
        @include icon-dimensions($default-icon-video-dimensions);
        pointer-events: none;
        
        .button--bigPlay & {
            @include icon-dimensions($default-icon-video-big-play-dimensions);
        }

        svg {
            fill: $default-icon-video-fill;
        }

        &.icon--play {
            margin-left: $default-icon-video-small-play-left-offset;
            
            .button--bigPlay & {
                margin-left: $default-icon-video-big-play-left-offset;
            }
        }
    }

    &--input {
        position: absolute;
        top: 50%;
        right: $default-input-icon-offset;
        transform: translateY(-50%);

        .button--input & {
            position: static;
        }

        svg {
            fill: $default-input-icon-color;
        }

        &.icon--email {
            right: $default-icon-email-offset;

            @include icon-dimensions($default-icon-email-dimensions);

            svg {
                fill: $default-icon-email-fill;
            }
        }
        
        &.icon--password {
            position: static;
            transform: none;

            @include icon-dimensions($default-icon-password-dimensions);

            svg {
                fill: $default-icon-password-fill;
            }

            .button--input:hover & svg {
                fill: $default-icon-password-hover-fill;
            }
        }
    }
}