@use 'sass:color';
@use '../variables' as *;

.nav {
    $root: &;

    &__list {
        display: flex;
        align-items: center;

        list-style: none;
        padding-left: 0;
        
        #{$root}__item {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }

            #{$root}__link {
                padding: 0;

                background-color: transparent;
                color: $color3;

                &:hover {
                    color: color.adjust($color3, $lightness: -10%);
                }

                &.active {
                    color: $color2;
                }
            }
        }
    }
}