@use '../variables' as *;

.range {
    $root: &;

    display: flex;
    align-items: center;

    &--tooltip {
        padding-top: 4rem;
    }

    &__container {
        position: relative;

        flex-grow: 1;
    }

    &__label {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1;
        
        &--start {
            padding-right: 1rem;
        }
        
        &--end {
            padding-left: 1rem;
        }

        #{$root}--video & {
            color: $color0;

            font-size: 1.2rem;
        }
    }

    &__tooltip {
        position: absolute;
        top: 0;
        transform: translate(-50%, -100%);
        transform-origin: center right;

        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        background-color: $color2;

        opacity: 0;
        transition: opacity $timing-1;

        &.active {
            opacity: 1;
        }

        span {
            text-align: center;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 100%;

            color: $color0;

            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}