@use 'sass:color';
@use '../variables.scss' as *;

.styleguide {
    section {
        padding: 0 0 4rem;
        border-bottom: solid 0.1rem $color4;
    }

    section > h2:first-child {
        margin: 4rem 0;
    }

    section:first-child > h2 {
        margin-top: 0;
    }
}