@use '../defaults' as *;

a {
    color: $default-anchor-color;

    font-weight: $default-anchor-font-weight;
    text-decoration: $default-anchor-text-decoration;

    transition: $default-anchor-transition;

    &:hover {
        color: $default-anchor-hover-color;
    }

    &:focus {
        color: $default-anchor-focus-color;
    }
}