@use 'sass:color';
@use '../variables' as *;
@use '../mixins' as *;
@use '../defaults' as *;

button, .button {
    display:  $default-button-display;

    padding: $default-button-padding;
    border: $default-button-border;
    border-radius: $default-button-border-radius;
    outline: $default-button-outline;

    background-color: $default-button-background-color;
    color: $default-button-color;

    font-size: $default-button-font-size;
    font-weight: $default-button-font-weight;
    text-decoration: $default-button-text-decoration;
    line-height: $default-button-line-height;

    cursor: $default-button-cursor;
    transition: $default-button-transition;

    &:hover {
        outline: $default-button-hover-outline;

        background-color: $default-button-hover-background-color;
        color: $default-button-color;
    }

    &:focus {
        outline: $default-button-focus-outline;
        
        color: $default-button-color;
    }
}

.button--secondary {
    background-color: $default-button-secondary-background-color;

    &:hover {
        background-color: $default-button-secondary-hover-background-color;
    }

    &:focus {
        outline-color: $default-button-secondary-focus-outline;
    }
}

.button--video {
    width: 4rem;
    height: 4rem;
    padding: 0;
    border: solid 0.2rem $color0;
    border-radius: 50%;

    background-color: $default-button-video-background-color;

    transition: transform $timing-1, opacity $timing-2, background-color $timing-1;
    
    &:hover, &:focus {
        background-color: $color3;
        transform: scale(1.1);
    }

    &.button--bigPlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 6rem;
        height: 6rem;

        opacity: 0;
        pointer-events: none;

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.button--subtitle {
    padding: 0;

    background-color: transparent;
    
    &:hover, &:focus {
        border: none;
        outline: none;

        background-color: transparent;
        color: $color3;
    }

    &.active {
        color: $color3;
    }
}

.button--subtitles {
    background-color: transparent;
    
    &:hover, &:focus {
        background-color: color.adjust($color3, $alpha: -0.6);
        color: $color3;
    }

    &.active {
        background-color: $color3;
    }

    .button--fullscreen + & {
        margin-left: 1rem;
    }
}

.button--input {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: scale(1) translateY(-50%);

    padding: 0;

    background-color: transparent;

    &:hover, &:focus {
        background-color: transparent;
    }
}