@use 'sass:color';
@use '../variables.scss' as *;
@use '../_mixins.scss' as *;

button, .button {
    display: inline-block;

    padding: 1.2rem 4rem;
    border: none;
    border-radius: 0.5rem;

    background-color: $color3;
    color: $color0;

    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;

    cursor: pointer;

    transition: all $timing-1;

    &:hover {
        background-color: color.adjust($color3, $lightness: -10%);
        color: $color0;
    }

    &:focus {
        outline: solid 0.2rem $color2;
        color: $color0;
    }
}

.button--secondary {
    background-color: $color2;

    &:hover {
        background-color: color.adjust($color2, $lightness: 10%);
    }

    &:focus {
        outline-color: $color3;
    }
}

.button--video {
    width: 4rem;
    height: 4rem;
    padding: 0;
    border: solid 0.2rem $color0;
    border-radius: 50%;

    background-color: $color6;

    transition: transform $timing-1, opacity $timing-2, background-color $timing-1;
    
    &:hover, &:focus {
        background-color: $color6;
        transform: scale(1.1);
    }

    &.button--bigPlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 6rem;
        height: 6rem;

        opacity: 0;
        pointer-events: none;

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.button--subtitle {
    padding: 0;

    background-color: transparent;
    
    &:hover, &:focus {
        border: none;
        outline: none;

        background-color: transparent;
        color: $color6;
    }

    &.active {
        color: $color6;
    }
}

.button--subtitles {
    background-color: transparent;
    
    &:hover, &:focus {
        background-color: color.adjust($color3, $alpha: -0.6);
        color: $color3;
    }

    &.active {
        background-color: $color3;
    }

    .button--fullscreen + & {
        margin-left: 1rem;
    }
}