.image {
    width: 100%;

    &--login {
        object-fit: cover;
        height: 100%;
    }
    
    &--register {
        object-fit: cover;
        height: 100%;
    }
}

#world {
    height: 50%;
}

[data-src=hi] {
    
}