@use 'sass:color';
@use '../variables' as *;
@use '../defaults' as *;
@use '../mixins' as *;

input[type=checkbox] {
    width: $default-input-checkbox-width;
    height: $default-input-checkbox-height;
    margin: 0;
    border: $default-input-checkbox-border;
    border-radius: $default-input-checkbox-border-radius;

    background-color: $default-input-checkbox-background-color;

    appearance: none;
    cursor: $default-input-checkbox-cursor;
    transition: $default-input-checkbox-transition;

    &:checked {
        background-color: $color3;
    }
}

input[type=radio] {
    position: relative;

    width: $default-input-radio-width;
    height: $default-input-radio-height;
    margin: 0;
    border: $default-input-radio-border;
    border-radius: $default-input-radio-border-radius;

    background-color: $default-input-radio-background-color;

    appearance: none;
    cursor: $default-input-radio-cursor;
    transition: $default-input-radio-transition;

    &:before {
        content: '';
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: $default-input-radio-dot-width;
        height: $default-input-radio-dot-height;
        border-radius: $default-input-radio-dot-border-radius;

        background-color: $default-input-radio-dot-background-color;

        opacity: $default-input-radio-dot-inactive-opacity;
        pointer-events: none;
    }

    &:checked:before {
        opacity: $default-input-radio-dot-active-opacity;
    }
}

input[type=range] {
    width: 100%;
    height: 1rem;
    margin: 0;
    border-radius: 1rem;
    
    box-shadow: none;
    
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
        @include input-range-track();
    }
    
    &::-webkit-slider-thumb {
        @include input-range-thumb();
    }

    &::-moz-range-track {
        @include input-range-track();
    }

    &::-moz-range-thumb {
        @include input-range-thumb();
    }
}

input[type=text] {
    box-sizing: $default-input-text-box-sizing;
    width: $default-input-text-width;
    padding: $default-input-text-padding;
    border: $default-input-text-border;
    
    background-color: $default-input-text-background-color;

    font-size: $default-input-text-font-size;

    &:focus {
        outline: $default-input-text-focus-outline;
    }
}

input[type=email] {
    box-sizing: $default-input-email-box-sizing;
    width: $default-input-email-width;
    padding: $default-input-email-padding;
    padding-right: $default-input-email-right-offset;
    border: $default-input-email-border;

    background-color: $default-input-email-background-color;

    font-size: $default-input-email-font-size;

    &:focus {
        outline: $default-input-email-focus-outline;
    }
}

input[type=password] {
    box-sizing: $default-input-password-box-sizing;
    width: $default-input-password-width;
    padding: $default-input-password-padding;
    padding-right: $default-input-password-right-offset;
    border: $default-input-password-border;

    background-color: $default-input-password-background-color;

    font-size: $default-input-password-font-size;

    &:focus {
        outline: $default-input-password-focus-outline;
    }
}