@use '../variables.scss' as *;
@use '../defaults' as *;

.label {
    margin-bottom: $default-label-margin-bottom;

    color: $default-label-color;
    
    font-size: $default-label-font-size;
    font-weight: $default-label-font-weight;
}