@use 'sass:color';

$color0: #ffffff;
$color1: #000000;
$color2: #192e42;
$color3: #5ac09e;
$color4: #eeeeee;
$color5: #333333;
$color6: #f6f6f6;
$color7: #ee5151;

$boxShadow1: 0.2rem 0.2rem 1rem 0.2rem color.adjust($color1, $alpha: -0.9);
$boxShadow2: 0.2rem 0.2rem 0.5rem 0.2rem color.adjust($color1, $alpha: -0.9);