@use 'sass:color';

$color0: #ffffff;
$color1: #000000;
$color2: #192e42;
$color3: #005d3d;
$color4: #eeeeee;
$color5: #333333;
$color6: #5ac09e;

$boxShadow1: 0.2rem 0.2rem 1rem 0.2rem color.adjust($color1, $alpha: -0.9);